*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
/* body{
    box-shadow: 10px 5px 10px 5px red;
} */

.hero{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(45deg, #08001f,#30197d) ;
    color: #fff;
    position: relative;
    align-items: center;
   

}
.container{
    width: 800px;
    height: 180px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
   

}
.clock{
    width: 100%;
    height: 100%;
    background: rgba(235, 0, 255, 0.11);
    border-radius: 10px;
    display:flex ;
    align-items: center;
    justify-content: center;
    backdrop-filter: blur(40px);
    /* box-shadow: 0px 0px 80px 0px rgb(103, 99, 99); */
}
.container::before{
    content: '';
    width: 180px;
    height: 180px;
    background: #f41b75;
    border-radius: 5px;
    position: absolute;
    box-shadow: 0px 0px 80px 0px rgb(73, 74, 70);
    left: -50px;
    top: -50px;
    z-index: -1;
}

.container::after{
    content: '';
    width: 180px;
    height: 180px;
    background: #419aff;
    box-shadow: 0px 0px 80px 0px rgba(245, 13, 13, 0.66);
    border-radius: 50%;
    position: absolute;
    right: -50px;
    bottom: -50px;
    z-index: -1;
}

.clock span{
    font-size: 80px;
    width: 110px;
    display: inline-block;
    text-align: center;
    position: relative;
}
.clock span::after{
    content: '';
    font-size: 16px;
    position: absolute;
    bottom: -5px;
    left: 50%;
    transform: translateX(-50%);
}

#hrs::after{
    content: 'HOURS';
   
}
#min::after{
    content: 'MINS';
}
#sec::after{
    content: 'SEC';
}

/* #mill::after{
    content: 'mill';
} */


@media (max-width:914px) {
.hero{
    width: 100%;
    min-height: 100vh;
    background:linear-gradient(45deg, #08001f,#30197d) ;
    color: #fff;
    position: relative;
    align-items: center;
   
}
.container{
    width: 90%;
    height: 160px;
    position: absolute;
    top: 50%;
    left: 40%;
    
    transform: translate(-50%,-50%);  
}
.clock{
    width: 100%;
    height: 100%;
    background: rgba(235, 0, 255, 0.11);
    border-radius: 10px;
    display:flex ;
    align-items: center;
    justify-content: center;
    margin-left: 50px;
    backdrop-filter: blur(40px);
   
}
.container::after{
    content: '';
    width: 180px;
    height: 180px;
    background: #419aff;
    box-shadow: 0px 0px 80px 0px rgba(245, 13, 13, 0.66);
    border-radius: 50%;
    position: absolute;
    right: -40px;
    bottom: -50px;
    z-index: -1;
    margin-right: 10px;
}
.container::before{
    content: '';
    width: 180px;
    height: 180px;
    background: #f41b75;
    border-radius: 5px;
    position: absolute;
    box-shadow: 0px 0px 80px 0px rgb(73, 74, 70);
    left: -40px;
    top: -50px;
    z-index: -1;
}

}

@media (max-width:395px) {
    .hero{
        width: 100%;
        min-height: 100vh;
        background:linear-gradient(45deg, #08001f,#30197d) ;
        color: #fff;
        position: relative;
        align-items: center;
        
    }
    .container{
        width: 90%;
        height: 160px;
        position: absolute;
        top: 50%;
        left: 40%;
        padding: 10px;
       
    }
    .clock{
        width: 100%;
        height: 100%;
        background: rgba(235, 0, 255, 0.11);
        border-radius: 10px;
        display:flex ;
        align-items: center;
        justify-content: center;
        backdrop-filter: blur(40px);
    }
    .container::after{
        content: '';
        width: 180px;
        height: 180px;
        background: #419aff;
        box-shadow: 0px 0px 80px 0px rgba(245, 13, 13, 0.66);
        border-radius: 50%;
        position: absolute;
        right: -40px;
        bottom: -50px;
        z-index: -1;

     }  
    .container::before{
        content: '';
        width: 180px;
        height: 100px;
        background: #f41b75;
        border-radius: 5px;
        position: absolute;
        box-shadow: 0px 0px 80px 0px rgb(73, 74, 70);
        left: -40px;
        top: -50px;
        z-index: -1;
       
    }
    
    .clock span{
        font-size: 40px;
        width: 110px;
        display: inline-block;
        text-align: center;
        position: relative;
    }
    #hrs::after{
        content: 'HOURS';
        font-size: small;
    }
    #min::after{
        content: 'MINS';
        font-size: small;
    }
    #sec::after{
        content: 'SEC';
        font-size: small;
    }
    
}



